.main-outer-panel{
	width:100%;
}
.main-outer-panel .customer-table-panel{
	width: 80%;
    display: inline-block;
}
.main-outer-panel .menu-button-panel{
	width: 20%;
    display: inline-block;
    float: right;
}
.header-panel{
	text-align: center;
    height: 100px;
    display: table;
    width: 100%;
}
.header-panel .header-text{
	vertical-align: middle;
    display: table-cell;
    color : #404040;
    font-size:30px;
}
.ui-widget{
	color : grey;
	font-size:15px;
}
.calendar-input input{
	box-shadow: none;
	padding: 4px 5px;
	width: 110px;
	font-size:15px;
	border-radius: 1px;
}
.calendar-input input.ui-state-focus{
	box-shadow: none;
}
.calendar-input{
	margin-bottom: 15px;
	display: block;
}
.menu-button-inner-panel{
	padding-left: 40px;
}

.logout-button{
	text-decoration: none;
	background-color: #F5F5F5;
    width: 110px;
    height: 72px;
    display: block;
    text-align: center;
    line-height: 70px;
    border: 1px solid #ccc;
    color: #404040;
}
a.logout-button:hover{
	background-color: #3572B0;
	color: white;
}


/** css for datatable-table **/
.mysore-outer-panel .datatable-table .ui-datatable-header{
	height: 28px;
	background: transparent;
	border: none;
	margin-bottom: 12px;
	padding: 0;
}
.datatable-table .ui-datatable-header .searchbox-container{
	float: right;
}
.datatable-table .ui-datatable-header .searchbox-container .searchbox{
	box-shadow: none;
	height: 38px;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 20px;
	width: 210px;
	padding-left: 5px;
}
.datatable-table .ui-datatable-header .searchbox-container .searchbox.ui-state-focus,
.datatable-table .ui-datatable-header .searchbox-container .searchbox.ui-state-hover{
	border-color: grey;
}
.mysore-outer-panel .datatable-table .ui-datatable-scrollable-body{
	max-height: 391px;
	overflow-x: hidden;
	margin-right: 0px !important;
}
.datatable-table .ui-column-filter.ui-inputfield.ui-inputtext{
	display: none;
}
.datatable-table  .ui-datatable-scrollable-header thead tr th{
	background-color: white;
	box-shadow: none;
	background-image: none;	
	text-align: left;
	color : grey;
	border-left: none;
	border-top: none;
	border-right: none;
}
.datatable-table  .ui-datatable-scrollable-body tbody tr td{
	border: none;
}
.datatable-table  .ui-datatable-scrollable-body tbody tr.ui-datatable-even:hover,
.datatable-table  .ui-datatable-scrollable-body tbody tr.ui-datatable-odd:hover{
	background-color: whitesmoke;
}
.datatable-table  .ui-datatable-scrollable-body tbody tr,
.datatable-table  .ui-datatable-scrollable-body tbody{
	border-color: #C2C0C0;
	border-left: none;
	border-right: none;
	background-color: white;	
	text-shadow: none;
}


.datatable-table .ui-paginator-bottom{
	background: white;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.datatable-table .ui-paginator-bottom .ui-paginator-current{
	margin : 0;
	color: grey;
	padding : 5px 10px; 
}
.datatable-table .ui-paginator-bottom .ui-paginator-rpp-options{
	margin-right: 19px;
	margin-top: 5px;
}
.datatable-table .ui-paginator-bottom .ui-paginator-first,
.datatable-table .ui-paginator-bottom .ui-paginator-prev,
.datatable-table .ui-paginator-bottom .ui-paginator-jtp-select,
.datatable-table .ui-paginator-bottom .ui-paginator-next,
.datatable-table .ui-paginator-bottom .ui-paginator-last{
	margin-top: 5px;
	background: white;
	box-shadow: none;
}
.datatable-table .ui-paginator-bottom .ui-paginator-last{
	margin-right: 253px;
}
.datatable-table .ui-paginator.ui-paginator-bottom .ui-paginator-jtp-select{
	box-shadow: none;
	background-image: none;
	background-color: white;
	border-color: #C2C0C0;
	height: 22px;
}
.datatable-table .ui-paginator.ui-paginator-bottom  .ui-paginator-current{
	float: left;
}
.datatable-table .ui-paginator.ui-paginator-bottom  .ui-paginator-rpp-options{
	float: right;
	box-shadow: none;
	background-image: none;
	background-color: white;
	border-color: #C2C0C0;
	height: 22px;
}
.datatable-table .ui-datatable-scrollable-body tbody tr.ui-state-highlight,
.datatable-table .ui-datatable-scrollable-body tbody tr.ui-datatable-even.ui-state-highlight:hover,
.datatable-table .ui-datatable-scrollable-body tbody tr.ui-datatable-odd.ui-state-highlight:hover{
	background-color: #3572B0;
	background-image: none;
	color: white;
}
.datatable-table  .ui-datatable-scrollable-body tbody tr.ui-datatable-even:hover,
.datatable-table  .ui-datatable-scrollable-body tbody tr.ui-datatable-odd:hover{
	background-color: whitesmoke;
	background-image: none;
}
/** end of css for datatable-table **/


/** css for add-team button  **/
.mysore-outer-panel .action-button .ui-icon,
.datatable-table .action-button .ui-icon{
	background-image: none;
	text-indent: 0px;
	width: 20px;
	height: 20px;
}
.mysore-outer-panel .action-button,
.datatable-table .action-button{
	box-shadow: none;
	background-image: none;
	font-weight: normal;
	font-size: 15px;
	background-color:#F5F5F5;
	border-color: #ccc;
	color: #404040;
	margin: 0;
	text-shadow : none;
}
.mysore-outer-panel .action-button.ui-state-hover,
.datatable-table .action-button.ui-state-hover{
	background-color:#3572B0;
	border-color: #adadad;
	color: white;
}
.mysore-outer-panel .action-button.ui-state-active,
.datatable-table .action-button.ui-state-active{
	background-color:#3572B0;
	border-color: #adadad;
	color: white;
}
.mysore-outer-panel .action-button.ui-state-hover,
.datatable-table .action-button.ui-state-hover{
	background-color:#3572B0;
	border-color: #adadad;
	color: white;
}
.mysore-outer-panel .action-button span.ui-button-text{
	width: 90px;
    word-wrap: break-word;
    display: block;
    padding: 10px 10px;
}
.mysore-outer-panel .action-button{
	width: 110px;
	margin-bottom: 15px;
	height:72px;
	border-radius: 0px;
}
.mysore-outer-panel .action-button.daily-report-button span.ui-button-text{
	width: 80px;
    padding: 15px 15px;
}
.mysore-dialog .ui-dialog-footer .delete-buttons-outer-panel{
	text-align: center;
}
/** end of css for add team button **/

/** end of css for dialogs **/
.mysore-dialog .grid-panel .team-name-inputText{
	width: 380px;
	height: 25px;
}
.mysore-dialog .grid-panel  tr,
.mysore-dialog .grid-panel  tr td{
	border: 0px;
}
.mysore-dialog .grid-panel .team-name-label,
.mysore-dialog .grid-panel .team-name-inputText,
.mysore-dialog .grid-panel .team-description-label,
.mysore-dialog .grid-panel .team-description-inputTextarea,
.mysore-dialog .grid-panel .team-id-label,
.mysore-dialog .grid-panel .team-id-value{
	font-size: 15px;
}
.mysore-dialog .ui-dialog-titlebar,
.confirm-dialog .ui-dialog-titlebar{
	height: 60px;
	background: #F5F5F5;
	border-bottom: 1px solid #CCC !important;
	color: #404040;
}
.confirm-dialog .ui-dialog-titlebar{
	height: 50px;
}
.confirm-dialog .ui-dialog-content{
	width: 300px;
	font-size: 14px;
	text-align: center;
}
.confirm-dialog .ui-dialog-content .ui-confirm-dialog-severity{
	margin: auto;
	float: none;
}
.confirm-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{
	padding: 0px;
	margin-right: 10px;
	margin-top: 17px;
}
.mysore-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{
	padding: 0px;
	margin-right: 10px;
	margin-top: 23px;
}
.mysore-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover,
.confirm-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover{
	box-shadow: none;
	background-image: none;
	background: none;
	border : none;
}
.mysore-dialog .ui-dialog-titlebar .ui-outputlabel{
	font-weight: normal;
	font-size: 20px;
}
.mysore-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick,
.confirm-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
	background-image: url('#{resource['images/circle_close-12x12.png']}');
	background-position: center;
}
.ui-dialog.mysore-dialog .ui-dialog-content{
	overflow: visible;
}
.mysore-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover .ui-icon-closethick,
.confirm-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover .ui-icon-closethick{
	background-position: center;
}
.confirm-dialog .ui-dialog-titlebar .ui-dialog-title{
	line-height: 2em;
	font-weight: normal;
	font-size: 20px;
}
.mysore-dialog .ui-dialog-titlebar .ui-dialog-title{
	line-height: 4em;
}
.confirm-dialog .ui-dialog-footer .delete-buttons-outer-panel{
	text-align: center;
}
.confirm-dialog .ui-dialog-buttonpane button{
	background: white;
	border-color: grey;
	box-shadow: none;
	font-weight: normal;
}
.mysore-dialog .ui-dialog-footer .team-buttons-outer-panel{
	display: inline-block;
	float: right;
	padding-top: 5px;
}

.mysore-dialog .ui-dialog-footer{
	height: 40px;
	background-color: #F5F5F5;
	border-color: #CCC;
}
.mysore-dialog .ui-dialog-footer .team-buttons-outer-panel .team-save-button{
	box-shadow: none;
	background-color: #3572B0;
	background-image: none;
	color: white;
	text-shadow: none;
	border: none;
	font-size: 14px;
	font-weight: normal;
}
.mysore-dialog .ui-dialog-footer .team-buttons-outer-panel .team-cancel-link{
	color: #3572b0 !important;
	font-size: 14px;
	margin-left: 10px;
}
.mysore-dialog .ui-dialog-footer .team-buttons-outer-panel a:hover{
	color: #3572b0 !important;
}
.mysore-dialog .grid-panel .team-name-inputText,
.mysore-dialog .grid-panel .team-description-inputTextarea,
.mysore-dialog .grid-panel .team-name-inputText.ui-state-focus,
.mysore-dialog .grid-panel .team-description-inputTextarea.ui-state-focus{
	box-shadow: none;
	padding: 4px 5px;
	width: 220px;
	height: 35px;
}
.mysore-dialog .grid-panel .team-description-inputTextarea,
.mysore-dialog .grid-panel .team-description-inputTextarea.ui-state-focus{
	width: 460px;
}
